@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 50px;
    background-color: black;
    color: white;
    align-items: center;

}

nav ul li{
    padding: 0px 10px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.brand img{
    width: 30px;
    padding: 0px 6px;
}

.container{
    min-height: 65vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 25px auto;
    width: 70%;
    border-radius: 10px;
    padding: 25px;
    background-image: url('bg.jpg');
    background-size: contain;
}

.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.icons{
    padding: 20px 0px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
}